@model stajbul.Models.talentsofJobs

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>talentsofJobs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="talentID" class="control-label"></label>
                <select asp-for="talentID" class="form-control" asp-items="ViewBag.talentID"></select>
                <span asp-validation-for="talentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jobPostingID" class="control-label"></label>
                <select asp-for="jobPostingID" class="form-control" asp-items="ViewBag.jobPostingID"></select>
                <span asp-validation-for="jobPostingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
